            /**HELP SECTION

            Media query is a CSS technique introduced in CSS3.
            It uses the @media rule to include a block of CSS
            properties only if a certain condition is true.

            **/



@font-face
{
    src: url("circular.otf");
    font-family: "circular";
}

body
{
    font-family: "circular";
    color: #484848;
}

    /** Columns **/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

    /** Phones **/
[class*="col-"] {
   width: 100%;
}

    /** Tablets **/
@media only screen and (min-width: 768px) {

   .col-m-1 {width: 8.33%;}
   .col-m-2 {width: 16.66%;}
   .col-m-3 {width: 25%;}
   .col-m-4 {width: 33.33%;}
   .col-m-5 {width: 41.66%;}
   .col-m-6 {width: 50%;}
   .col-m-7 {width: 58.33%;}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
   .col-m-11 {width: 91.66%;}
   .col-m-12 {width: 100%;}
}

    /** Desktop **/
@media only screen and (min-width: 1024px) {

   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-s11 {width: 91.66%;}
   .col-12 {width: 100%;}
}

      /** END **/

      /** Logo **/

figure
{
  display: flex;
  align-items: center;
  margin-left: 17px;
}

#logo
{
  width: 31px;
  height: 31px;
}

#darrow
{
  width: 25px;
  opacity: 0.5;
  padding-left: 6px;
}
      /** END **/

      /** HEADER**/

      /** H1 **/
h1 span
{
  color: #FF5A5F;
  font-weight: 700;
}

h1
{
  font-size: 25px;
  font-weight: 100;
  padding-left: 17px;
  padding-top: 24px;
  padding-right: 35px;
  margin: 0 auto;
  margin-bottom: 2em;
}
      /** H1 END **/

      /** SEARCHBAR **/
.search {
  position: relative;
  font-size: 16px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.search input {
  height: 41px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-indent: 40px;
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 600;
}
.material-icons.grey {
  color: rgb(180, 180, 180);
}


.search .material-icons
{
  position: absolute;
  top: 10px;
  left: 10px;
  text-indent: 19px;
}
      /** SEARCHBAR END **/

      /** NAVBAR **/
nav
{
  height: 100px;
  width: 90%;
  white-space: nowrap;
  padding: 68px 10px 0px 17px;
  display: flex;
  display: block;
  margin: auto;
  overflow: hidden;
  overflow-x: scroll;
  margin-right: 80px;

}

nav a
{
  text-decoration: none;
  color: #767676;
  font-weight: 600;
  font-size: 11px;
  margin-right: 16px;
  letter-spacing: 0.9px;

}

nav a span
{
  color: #008489;
  border-bottom: 2px solid #008489;
  padding-bottom: 12px;
}

hr
{
  opacity: 0.3;
  margin-top: 10px;
  z-index: -1;
}

nav i
{
  background: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: -5px;
  margin-right: 24px;
}

#gradient
{
  border: 0px;
  padding: 0px;
  position: absolute;
  display: inline;
  height: 21px;
  vertical-align: top;
  width: 40px;
  right: 6px;
  margin-right: 24px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}
